# Libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib as mpl 
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
path = "../Data/QVI_merged_tables.csv"
path = "/Users/ekaterinasorokopudova/Desktop/Quantium/Data/QVI_merged_tables.csv"

In [8]:
df = pd.read_csv(path)

df.head(5)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,2018-10-17,1,1000,1,5,natural chip compny seasalt175g,2,6.0,175,Natural Chip Co,YOUNG SINGLES/COUPLES,Premium
1,2019-05-14,1,1307,348,66,ccs nacho cheese 175g,3,6.3,175,CCs,MIDAGE SINGLES/COUPLES,Budget
2,2019-05-20,1,1343,383,61,smiths crinkle cut chips chicken 170g,2,2.9,170,Smiths,MIDAGE SINGLES/COUPLES,Budget
3,2018-08-17,2,2373,974,69,smiths chip thinly s/cream&onion 175g,5,15.0,175,Smiths,MIDAGE SINGLES/COUPLES,Budget
4,2018-08-18,2,2426,1038,108,kettle tortilla chpshny&jlpno chili 150g,3,13.8,150,Kettle,MIDAGE SINGLES/COUPLES,Budget

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246739 entries, 0 to 246738
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATE              246739 non-null  object
 1   STORE_NBR         246739 non-null  int64
 2   LYLTY_CARD_NBR    246739 non-null  int64
 3   TXN_ID            246739 non-null  int64
 4   PROD_NBR          246739 non-null  int64
 5   PROD_NAME         246739 non-null  object
 6   PROD_QTY          246739 non-null  int64
 7   TOT_SALES         246739 non-null  float64
 8   PACK_SIZE         246739 non-null  int64
 9   BRAND             246739 non-null  object
 10  LIFESTAGE         246739 non-null  object
 11  PREMIUM_CUSTOMER  246739 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 22.6+ MB

# Data analysis on customer segments

- Who spends the most on chips (total sales), describing customers by lifestage 
and how premium their general purchasing behaviour is:

- How many customers are in each segment
- How many chips are bought per customer by segment
- What's the average chip price by customer segment